body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.inValidInput {
  border: 2px solid rgb(216, 50, 50);
}
.product-button{
  border: 2px solid;
  border-radius: 10px;
  background-color: rgb(70, 59, 225);
  color: white;
  padding: 5px 10px;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Two columns */
  grid-template-rows: repeat(2, auto);
  gap: 20px; /* Space between products */
  margin: 20px 0;
}
.product-grid img {
  max-width: 100%; /* Ensure images do not exceed their container width */
  max-height: 100%; /* Ensure images do not exceed their container height */
  width: 200px; /* Set width to 200px */
  height: 200px; /* Maintain aspect ratio */
}
.product-detial {
  max-width: 100%; /* Ensure images do not exceed their container width */
  max-height: 100%; /* Ensure images do not exceed their container height */
  width: 200px; /* Set width to 200px */
  height: auto;
}
.product-detial-img{
  float: left;
  max-width: 100%; /* Ensure images do not exceed their container width */
  max-height: 100%; /* Ensure images do not exceed their container height */
  width: 600px; /* Set width to 200px */
  height: auto;
}
.product-details{
  margin-left: 100px;
}
@media screen and (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust item width for smaller screens */
  }
}

