body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.inValidInput {
  border: 2px solid rgb(216, 50, 50);
}
.product-button{
  border: 2px solid;
  border-radius: 10px;
  background-color: rgb(70, 59, 225);
  color: white;
  padding: 5px 10px;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  grid-template-rows: repeat(2, auto); /* 2 rows */
  gap: 20px; /* Space between products */
  margin: 20px 0;
}
@media screen and (max-width: 768px) {
  .product-grid {
      grid-template-columns: repeat(1, 1fr); /* 1 column for narrower screens */
      grid-template-rows: auto; /* Auto rows */
      margin-right: 5%;
  }
}